/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #cee3f9;
}

/* Header */
header {
    background-color: #65a3e1;
    color:#003162;
    padding: 0.8rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* para que el carro de compras quede al lado derecho*/
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-img {
    width: 50px;
    height: 50px;
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart-img {
    width: 60px;
    height: 60px;
}

/* Carrito */
.shopping-cart {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding: 1rem;
    z-index: 1000;
}

.cart:hover .shopping-cart,
.cart-img:focus + .shopping-cart,
.cart-img:active + .shopping-cart {
    display: block;
}



.items {
    max-height: 300px;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 1rem;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-name {
    font-weight: bold;
    color: #2c3e50;
}

.cart-item-price, .cart-item-quantity {
    color: #7f8c8d;
    font-size: 0.9rem;
}


.cart-footer { /* separado del carrito para agregar un separador y cambiar las orientaciones */
    margin-top: 1rem;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    font-weight: bold;
    color: #1c2834;
}

.empty-cart {
    background-color: #df4040;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.empty-cart:hover {
    background-color: #c33d2f;
}

/* Sección de presentación */
.intro {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #df4949;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    color: white;
}

/* Juegos Disponibles */
.shop {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* como flexbox, pero con grids de tamaño minimo y maximo dinamico */
    gap: 2rem;
    margin-top: 2rem;

}

.games {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
}

.games:hover {
    transform: translateY(-5px);
}

.games img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.games h3 {
    margin: 1rem 0;
    color: #2c3e50;
    font-size: 1.2rem;
}


.attributes p {
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    font-size: 0.9rem;
}

.add-to-cart {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0.8rem;
    background-color: #239e56;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #29c168;
}

/* Formulario para agregar juegos */
.add-game {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-content {
    margin-bottom: 1rem;
}

.form-content label {
    display: block;
    margin-bottom: 0.4rem;
    color: #184f86;
    margin-top: 1.5rem;
}

.form-content input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #b5b2b2;
    border-radius: 4px;
}

.submit {
    width: 40%;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    background-color: #29c168;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
}

.submit:hover {
    background-color: #4be38a;
}

/* Responsivo de acuerdo al tamaño de la pantalla */
@media (max-width: 768px) {
    .shop-content {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .menu-content {
        flex-direction: column;
        gap: 1rem;
    }
    
    .cart {
        align-self: flex-end;
    }
}